<!-- A  -->
<!DOCTYPE html>
<html>
    <head>
        <title>Micasa</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../css/delivery.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <script type="text/javascript" src="../js/delivery.js"></script>
    </head>
    <body>
        <!-- HEADER HERE -->
        <!-- REST OF THE SITE -->
        <div class="topTitle">My Orders</div>
        <hr class="solid">

            <!-- divs of different orders -->
            <div class="ordersList">
                <div class="orders">
                    <img src="../images/cloth1.png" alt="Product 1">
                    <div class="status">STATUS: Your parcel has departed from the Sorting Centre!</div>
                    <h2>Products:</h2>
                    <h3>1x Sports Bra</h3>
                    <br>
                    <br>
                    <p>Total: $19.99</p>
                    <div class="button">
                        RETURN/REFUND
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>