<html>
    <head>  
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        
        <!--Navigation bar-->
        <div id="nav-placeholder" class="navbar">
            
        </div>

        <script>
        $(function(){
        $("#nav-placeholder").load("navBar.html");
        });
        </script>

<p><h1>hi all </h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all all all all all all alll allllllllllllllllllll</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>
<p><h1>hi all</h1></p>

        <!--end of Navigation bar-->
    </body>
</html>
