<!DOCTYPE html>
<html>
    <head>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="../css/footer.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel = "stylesheet" href = "../css/productsDetail.css">
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Lato">
        <script src="https://kit.fontawesome.com/d6b1a6cf41.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <!--Navigation bar-->
        <div id="nav-placeholder" class="navbar">
            
        </div>

        <script>
        $(function(){
        $("#nav-placeholder").load("navBar.html");
        });
        </script>
        <br>
        <br>
        <br>
        <br>
        <!--end of Navigation bar-->
        <div class="container">
            <div class="leftContainer">
                <a href = "wallOfProducts_newArrivals.html">
                    <button class="leftArrow">
                        <i class="fa-solid fa-left-long fa-2xl" style="color: #5c5c5c;"></i>
                    </button>

                </a>
                <img src="../images/pic1.jpg" class="productPic">
            </div>
            <div class="rightContainer">
                <table class="productInfoTable">
                    <tr><td class="emptyTD"></td></tr>
                    <tr>
                        <th class="heading1">
                            <p class="heading2">Dark Grey Sports Bra</p>
                            <p class="heading2">Light Support, A/B Cup</p>
                            <p class="heading3">DESIGNED FOR RUNNING</p>
                        </th>
                    </tr>
                    <tr>
                        <td class="price">$120.00 SGD</td>
                    </tr>
                    <tr>
                        <td class="colour" >Colour: Dark Grey</td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../images/darkgrey.png" class="darkGreyIcon">
                        </td>
                    </tr>
                    <tr>
                        <td class="size">
                            <label for="cars">Select size: &nbsp;</label>
                            <select name="size" id="size">
                            <option value="volvo">S</option>
                            <option value="saab">M</option>
                            <option value="mercedes">L</option>
                            <option value="audi">XL</option>
                        </select>
                        </td>
                    </tr>
                    <tr><td class="emptyTD"></td></tr>
                    <tr>
                        <td class="addToBag">
                            <button class="addToBagButton">ADD TO BAG &nbsp; - &nbsp;    $120.00 SGD</button>
                        </td>   
                    </tr>
                    <tr>
                        <td >
                            <button class="shippingText">Free shipping and returns</button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!--footer bar-->
        <div id="footer-placeholder" class="footer">
            
        </div>

        <script>
        $(function(){
        $("#footer-placeholder").load("footer.html");
        });
        </script>
        <!--end of footer bar-->
    </body>
</html>