<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../css/SC.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    
</head>
<body>
    <div class="container">
        <div class="leftContainer">
                <h1 class="ShoppingCart">Shopping Cart</h1>
                <img src="../images/cloth1.png" alt="Product 1">
                <h2>Product 1</h2>
                <p>$19.99</p>
                <h4>Quantity</h4>
                <div class="customSelect">
                    <select>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>
                        <option value="">5</option>
                    </select>
            </div>
        </div>
        <div class="rightContainer">
            <div class="Summary">
                <h2>Order Summary</h2>
                <ul>
                </ul>
                <h4>Total items: 1</h4>
            </div>
    
            <div class="cart">
                <h2>Shopping Cart</h2>
                <ul>
                </ul>
                <p>Total: $<span id="total">44.99</span></p>
                <button type="button" class="checkout">Checkout</button>
                <button type="button" class="continue">Continue Shopping</button>
            </div>
        </div>
    </div>
</body>
</html>