<!DOCTYPE html>
<html>
    <head>
        <link rel = "stylesheet" href = "../css/wallOfProducts.css">
        <link rel = "stylesheet" href = "https://fonts.googleapis.com/css?family=Lato">
    </head>
    <body>
        <div class="titleContainer">
            <p class="ourProducts">Our Products</p>
            <button class="hotButton">HOT</button>
            <button class="onSaleButton">ON SALE</button>
            <button class="newArrivalsButton">NEW ARRIVALS</button>
        </div>
        <div>
            <table class="productsTable">
                <tr class="tr1">
                    <td class="empty"></td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td class="empty"></td>
                </tr>
                <tr class="productsName">
                    <td class="empty"></td>
                    <td>
                        <p class="clothesName1  ">Dark Grey Sports Bra</p>
                    </td>
                    <td>
                        <p class="clothesName1">Dark Grey Sports Bra</p>
                    </td>
                    <td>
                        <p class="clothesName1">Dark Grey Sports Bra</p>
                    </td>
                    <td>
                        <p class="clothesName1">Dark Grey Sports Bra</p>
                    </td>
                    <td class="empty"></td>
                </tr>
                <tr class="productsPrice">
                    <td class="empty"></td>
                    <td>
                        <p class="clothesName1">$99.00 SGD</p>
                    </td>
                    <td>
                        <p class="clothesName1">$150.00 SGD</p>
                    </td>
                    <td>
                        <p class="clothesName1">$100.00 SGD</p>
                    </td>
                    <td>
                        <p class="clothesName1">$120.00 SGD</p>
                    </td>
                    <td class="empty"></td>
                </tr>


                <tr class="emptyTR"></tr>

                <tr class="tr4">
                    <td class="empty"></td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td class="empty"></td>
                </tr>
                    <tr class="productsName">
                        <td class="empty"></td>
                        <td>
                            <p class="clothesName1">Light Blue Yoga Outifts 1 Set</p>
                        </td>
                        <td>
                            <p class="clothesName1">Front Zipper Sports Bra</p>
                        </td>
                        <td>
                            <p class="clothesName1">Blue Sports 1 Set</p>
                        </td>
                        <td>
                            <p class="clothesName1">Blue Crop Top Sports 1 Set</p>
                        </td>
                        <td class="empty"></td>
                    </tr>
                    <tr class="productsPrice">
                        <td class="empty"></td>
                        <td>
                            <p class="clothesName1">$200.00 SGD</p>
                        </td>
                        <td>
                            <p class="clothesName1">$70.00 SGD</p>
                        </td>
                        <td>
                            <p class="clothesName1">$210.00 SGD</p>
                        </td>
                        <td>
                            <p class="clothesName1">$130.00 SGD</p>
                        </td>
                        <td class="empty"></td>
                    </tr>


                    <tr class="emptyTR"></tr>

                <tr class="tr5">
                    <td class="empty"></td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td>
                        <img src="../images/pic1.jpg" class="pic">
                    </td>
                    <td class="empty"></td>
                </tr>
                    <tr class="productsName">
                        <td class="empty"></td>
                        <td>
                            <p class="clothesName1">Beige Hoodie Shorts 1 Set</p>
                        </td>
                        <td>
                            <p class="clothesName1">Black Light Leggings</p>
                        </td>
                        <td>
                            <p class="clothesName1">Sprint Bike Shorts</p>
                        </td>
                        <td>
                            <p class="clothesName1">Black Sports Bra</p>
                        </td>
                        <td class="empty"></td>
                    </tr>
                    <tr class="productsPrice">
                        <td class="empty"></td>
                        <td>
                            <p class="clothesName1">$24.00 SGD</p>
                        </td>
                        <td>
                            <p class="clothesName1">$85.00 SGD</p>
                        </td>
                        <td>
                            <p class="clothesName1">$55.00 SGD</p>
                        </td>
                        <td>
                            <p class="clothesName1">$77.00 SGD</p>
                        </td>
                        <td class="empty"></td>
                    </tr>
            
            </table>
        </div>
    </body>
</html>